*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    position: sticky;
    padding: 11px 0;
    transition: all 0.5s;
    z-index: 997;
    align-items: center !important;
   background-color: rgba(255, 255, 255, 0);
 top: 0%;
    
}
.header-contaner{
        background-color: #ffffff transparent ;
        
    border-radius: 50px;
    padding: 15px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex !important;
    justify-content: space-between !important;
    position:  relative !important;
}
.sitename {
    font-size: 24px;
    margin: 0;
    font-weight: 500;
    color: #000000;


}
.header-logo{
        line-height: 1;
    padding-left: 5px;
    text-decoration: none;
}
.get-started{
    background-color: #0D83FD;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 20px;
    margin: 0 0 0 30px;
        border-radius: 50px;
    transition: 0.3s;
    text-decoration: none;
}
.get-started:hover{
    color: #101010;
}
.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center !important;
    color: #ffffff;
    list-style: none;
          font-weight: 400;
     font-family: "Poppins", sans-serif;;
 font-size: 20px;

}
.menu li {
    color: #010101;
    display: flex;
    margin-right: 20px;
              
  
}
.menu li:hover{
    color: #58A9FE;
}
.icon-1{
    color: #010101;
}

 @media only screen and (min-width: 1200px) {
   .icon-1{
    display: none;
   }
   .icon-2{
    padding-top: 3px;
   }
 }
 @media only screen and (max-width: 1200px) {
    .menu{
        display: none;
    }
     .icon-1{
      display: flex;
         font-size: 28px;
        line-height: 0;
        margin-right: 10px;
        cursor: pointer;
        transition: color 0.3s;
       padding-top: 5px;
   }
  
 }
 .align-items-center{
    align-items: center !important;
 }
 .row{
    max-width: 100%;

 }
 .hero-content {
    z-index: 1;
    position: relative;
 }
 .company-badge{
    border-radius: 50px;
    font-weight: 500;
 }
 .mb-4{
    font-weight: 700;
    margin-bottom: 1.5rem !important;
    font-family: "Nunito", sans-serif;
 }
 .accent-tex {
    color: #0d83fd;
 }
 .btn-primary{
    background-color: #0d83fd;
    border-color: #0d83fd;
        padding: 0.75rem 2.5rem;
            border-radius: 50px;
            font-weight: 500;
 }
.icon-3{
    color: #000000;
    font-weight: 500;
    font-size: 1.5rem;
        vertical-align: middle;
            margin-right: .25rem !important;
           
}
.icon-4{
  text-decoration: none !important;
  color: #000000 !important;
}
.img-fluid{
    max-width: 100%;
    height: auto;
 
}
.customers-badge{
    bottom: 10px;
    right: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 300px;

    position: absolute !important;
  

}
.avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}
.stat-item{
    gap: 1rem;
    padding: 1rem;
}
.stat-icon{
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    display: flex;
    background-color: #ECF5FF   ;
    border-radius: 50px;

}
.stat-content h4{
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    font-weight: 600;
}
.stat-content p{
    font-size: 0.875rem;
    color: #010101;
    margin: 0%;
}
.stats-row{
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
        padding-bottom: 2rem;
}
.stat-icon:hover{
    background-color: #0D83FD;
    color: #ffffff;
    transition: 0.5s;
}
.about-meta {
    font-weight: 600;
    margin-bottom: 1rem;
    display: inline-block;
} 
.about-title{
        font-size: 1.75rem;
    margin-bottom: 1rem;
    line-height: 1.2;
    font-weight: 700;
}
.about-description{
        margin-bottom: 2rem;
    color: 
 color-mix(in srgb, var(#212529), transparent 20%);
}
.row feature-list-wrapper{
    margin-bottom: 2rem;
}
.feature-list{
    list-style: none;
    padding: 0;
    margin: 0;

}
.feature-lis li{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}
.profile d-flex align-items-center gap-3{
    gap: 1 !important;
    align-items: center !important;
    display: flex;
}
.profile-image{
        width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
        vertical-align: middle;
}
.profile-name{
        font-size: 1.125rem;
    margin: 0;
}
.profile-position{
        margin: 0;
    font-size: 0.875rem;
    color: #0d83fd;
}
.contact-info {
    padding: 1rem 1.5rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.06);
        gap: 5rem !important;
        align-items: center;
        display: flex !important;

}
.contact-number{
    font-weight: 600;
    margin: 0;
}
.contact-label{
    color: #000000;
    font-size: 0.875rem;
    margin: 0;
}
.rounded-4{
    border-radius: 1rem !important;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
 .rounded-5{
    position: absolute;
    top: 20%;
    left: -10%;
    width: 45%;
    border: 8px solid #ffffff;
} 
.experience-badge{
    position: absolute !important;
    bottom: 5%;
    right: 5%;
    min-width: 200px;
    height: 100px;
    background-color: #0D83FD;
}
.future-section {
    padding: 60px 0;
    scroll-margin-top: 90px;
    overflow: clip;

}
.nav-tabs{
    border: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 6px;
    width: auto;
}
.order-2 ul{
    list-style: none;
}
.icon-8{
    font-size: 20px;

}
.feature-box {
    background-color: #fff3e2;
    height: 100%;
    padding: 40px 30px;
    border-radius: 10px;
}
.feature-box-1 {
    background-color: #deedfd;
    height: 100%;
    padding: 40px 30px;
    border-radius: 10px;
}
.feature-box-2 {
    background-color: #d5f1e4;
    height: 100%;
    padding: 40px 30px;
    border-radius: 10px;
}
.feature-box-3 {
    background-color: #fdeded;
    height: 100%;
    padding: 40px 30px;
    border-radius: 10px;
}
.feature-icon{
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #deedfd;
}
.phone-mockup{
    padding: 30px 0;
    text-align: center !important;
  
} 
.phone-mockup img{
    max-width: 300px;
    height: auto;
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.1));
        vertical-align: middle;
}
.call-to-action{
    overflow: clip;
    padding: 60px 0;

}

.call-to-1{
   background-color: #0d83fd;
   border-radius: 30px;
   height: 320px;
}
.compny{
    opacity: 0.5;
    height: 80px;
    width: 86%;
}
.clients-section {
    padding: 60px 0;
    overflow: clip;
}
.testimonials{
    overflow: clip;
    padding: 60px 0;
    background-color: #f3f9ff;
}
.testimonial-item{
    background-color: #ffffff;
        box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
            padding: 30px;
    position: relative;
    height: 100%;
}
.testimonial-img{
    width: 90px;
    border-radius: 50px;
    border: 6px solid #f3f9ff;
    float: left;
    margin: 0 10px 0 0;
}
.star{
    color: gold;
}
.quote{
    color: #86C1FE;
}
.purecounter{
    color: #010101;
        font-size: 48px;
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.stats-item p{
    font-weight: 500;
}
.services-section{
    background-color: #f3f9ff;
}
.service-card{
    height: 100%;
    padding: 30px;
  
}
.icon{
    width: 60px;
    height: 60px;
    display: flex;
    line-height: 1;
    background-color: #E6F2FE;
}
.read-more{
    display: inline-block;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    text-decoration: none;
}
.pricing-section{
    background-color: #f3f9ff;
}
.pricing-card {
   position: relative;
   padding: 36px;
   height: 100%;
  
}
.features-list{
    list-style: none;
}
.currency{
        font-size: 1.5rem;
    font-weight: 600;
    vertical-align: top;
    line-height: 1;
}
.icon--9{
    color: #0D83FD;
}
.btn-card{
  background-color: #0D83FD;
    border: none;
    color: #ffffff;
    width: 100%;
        padding: 0.75rem 1.5rem;
            display: flex
;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 500;
    border-radius: 200px;
}
.popular-badge{
    top: -12px;
    left: 34%;
    background: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 0.875rem;
    font-weight: 600;
        box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.08);
}
.popular{
    color: #ffffff;
}
.faq-9{
 background-color: #f3f9ff;
}
.faq-item{
    border-radius: 10px;
        margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
}
.faq-content{
        grid-template-rows: 1fr;
    visibility: visible;
    opacity: 1;
    padding-top: 10px;
}
.section-8,
.section-10 {
  background-color: rgb(243, 249, 255);
}

.contact-pg {
  color: rgba(255, 255, 255, 0.8);
  font-size: 15.2px;
}

.contact-icon {
  background-color: rgba(255, 255, 255, 0.2) !important;
  transition: background-color 0.45s;
}

.contact-item:hover .contact-icon {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.form-input {
  border: 1px solid #21252928;
  width: 100%;
  transition-duration: 0.45s;
}

.form-input:focus {
  outline: none;
  border: 1px solid #0d6efd !important;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    gap: 15px;
}
.mian-19{
    display: flex;
    gap: 20px;
    line-height: 25px;
    
    
  
}
.footer_li ul{
    list-style: none;
    
  
}
.footer_li :hover{
    color: #58A9FE;
}
.sec-foot{
    width: 100%;
    background-color: #ffffff;
    padding: 30px 25px;
}
.icon-list{
    display: flex;
    list-style: none;
    gap: 2vw;
    font-size: 20px;
}
.main-18{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_li{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.icon-4{
    border: 1px solid black;
    padding: 6px;
    border-radius: 50px;
}
.footer_li ul li{
    color: gray;
}
@media (max-width:1192px) {
    .footer{
        flex-direction: column;
    }
    
}
@media (max-width:1000px) {
    .mian-19{
        flex-direction: column;
    }
    
}
